 @layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'Paris2024';
  src: url("https://db.onlinewebfonts.com/t/4eb57c4bdd98832e4644535022618bc9.ttf") format("truetype");
}

:root{
  --fonts-paris2024: 'Paris2024', sans-serif;
}