@font-face {
    font-family: 'Paris2024';
    src: local('./fonts/Paris2024-Variable.ttf')
  }
  
@layer reset, base, tokens, recipes, utilities;

body {
    margin: 0;
    font-family: 'Paris2024', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }