 @layer reset, base, tokens, recipes, utilities;

@font-face {
  font-family: 'Paris2024';
  src: url("src/assets/Paris2024-Variable.ttf") format("truetype");
}

:root{
  --fonts-paris2024: 'Paris2024', sans-serif;
}